# list Comper

In [8]:
l = [1,2,3,4,5]
# squre of every element using loop
l2 = []
for i in l:
    l2.append(i**2)

In [9]:
l2

[1, 4, 9, 16, 25]

In [11]:
# comperision method

[i**2 for i in l2]

[1, 16, 81, 256, 625]

In [13]:
name = ['apurva','singh','naruka']
# convert it into upper case
[i.upper() for i in name]

['APURVA', 'SINGH', 'NARUKA']

In [19]:
tuple(i**4 for i in l)

(1, 16, 81, 256, 625)

In [21]:
list(i**4 for i in l)

[1, 16, 81, 256, 625]

In [24]:
d = {'k1':2,'k2':3,'k3':4,'k4':5}

In [47]:
{k:v**3 for k,v in d.items()}

{'k1': 8, 'k2': 27, 'k3': 64, 'k4': 125}